*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background: #8ED3D1;

}

.container{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-left: 450px;
}

.tenor-gif-embed{
    pointer-events: none;
    display: flex;
    justify-content: center;
    
}

.audio {
 display: none;
}



.mask{
    border: solid;
    height: 40px;
    width: 140px;
    position: absolute;
    top: 529px;
    left: 374.8px;
    font-size: 1rem;
    font-family: roboto;
    color: white;
    background: #F96854;
    border: none;
    box-shadow: 0px 1px 10px 1px #2b2e3b;
}

.textContainer{
    position: absolute;
    top: 150px;
    left: 150px;
    min-height: 200px;
    max-height: 300px;
    width: 600px;
    transition: 300ms;
    /* display: none; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    background-color: #F96854;
    color: white;
    border-radius: 20px;
    padding: 20px;
    line-height: 50px;
    box-shadow: 0px 1px 10px 1px #2b2e3b;

    
}